<!DOCTYPE html>
<html>
<head>
  <title>TestAjax</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui.min', 'rails' %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
